*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100%;
    background-image: url("sky4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Helvetica Neue'  Ubuntu, Cantarell, 'Open Sans',  sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100vw;
}
.container{

   backdrop-filter: blur(17px);
    max-width: 50%;
    margin: auto;
    border: 15px solid transparent;

}


h1 {
    background-clip: text;
    -webkit-background-clip:text;
    background-image: url(sky4.jpg);
    background-size: cover;
    background-position: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: transparent;
}
p{
    margin-top: 30px;
    color: rgb(60, 5, 5);
    font-size: 20px;
}
h2 {
   
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(130, 1, 27);
}

button {
    margin-top: 30px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: normal;
    width: 130px;
    font-size: 15px;
    border-radius: 5px;
}

#increment-btn {


    background: rgb(131, 61, 61);
}

#save-btn {
    margin-bottom: 10px;

    background: rgb(100, 0, 42);
}
